<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=cryxrmts_sfrksthidotcom;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=DHRUMIL\SQLEXPRESS;Initial Catalog=cryxrmts_sfrksthidotcom;User ID=sa;Password=162dhrumil" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="240000" maxRequestLength="2147483647" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer> 
</configuration>
